In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('2015-16-premier-league.csv')

In [4]:
df

               Team Name  Wins  Draws  Losses
0         Leicester City    23     12       3
1                Arsenal    20     11       7
2      Tottenham Hotspur    19     13       6
3        Manchester City    19      9      10
4      Manchester United    19      9      10
5            Southampton    18      9      11
6        West Ham United    16     14       8
7              Liverpool    16     12      10
8             Stoke City    14      9      15
9                Chelsea    12     14      12
10               Everton    11     14      13
11          Swansea City    12     11      15
12               Watford    12      9      17
13  West Bromwich Albion    10     13      15
14        Crystal Palace    11      9      18
15       AFC Bournemouth    11      9      18
16            Sunderland     9     12      17
17      Newcastle United     9     10      19
18          Norwich City     9      7      22
19           Aston Villa     3      8      27

In [5]:
df['Wins'].describe()

count    20.000000
mean     13.650000
std       4.944694
min       3.000000
25%      10.750000
50%      12.000000
75%      18.250000
max      23.000000
Name: Wins, dtype: float64

In [23]:
(((df['Wins'] - df['Wins'].mean())**2).sum() / df['Wins'].count())**.5

4.819491674440366

In [8]:
df['Wins'].quantile(.75) - df['Wins'].quantile(.25)

7.5