In [1]:
# Import packages
import pandas as pd
import scipy.stats as stats

In [3]:
# Write you code here to perform the t-test
df = pd.read_csv('Customer Support Time Study.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
Nathaly    10 non-null float64
Joey       10 non-null float64
dtypes: float64(2)
memory usage: 240.0 bytes

   Nathaly   Joey
0    15.06  19.53
1    15.43  17.41
2    15.91  14.30
3    15.10  15.83
4    16.16  17.01

In [4]:
df.describe()

         Nathaly       Joey
count  10.000000  10.000000
mean   15.407000  16.691000
std     0.743581   1.403103
min    13.700000  14.300000
25%    15.135000  15.925000
50%    15.365000  16.995000
75%    15.907500  17.200000
max    16.270000  19.530000

In [13]:
n_sum = df['Nathaly'].sum()
n_mean = df['Nathaly'].mean()
n_std = df['Nathaly'].std()
n_count = df['Nathaly'].count()
n_sum, n_mean, n_std, n_count

(154.07000000000002, 15.407000000000002, 0.74358067633729052, 10)

In [14]:
j_sum = df['Joey'].sum()
j_mean = df['Joey'].mean()
j_std = df['Joey'].std()
j_count = df['Joey'].count()
j_sum, j_mean, j_std, j_count

(166.91, 16.690999999999999, 1.4031033065633085, 10)

In [12]:
t_num = n_mean - j_mean
t_num

-1.2839999999999971

In [23]:
pooled_std = ((n_count-1)*n_std**2 + (j_count-1)*j_std**2) / (n_count+j_count-2)
pooled_std

1.260805555555556

In [24]:
t_denom = (pooled_std * (1/n_count + 1/j_count))**.5
t_denom

0.50215646078798115

In [26]:
t_val = t_num / t_denom
t_val

-2.5569719803766966

In [38]:
#The p-value with t-statistic of 2.5569 is between .01 and .025

In [36]:
t_stat = stats.ttest_ind(df['Nathaly'], df['Joey'])
t_stat

Ttest_indResult(statistic=-2.5569719803766966, pvalue=0.01980878560803262)

In [37]:
t_stat.pvalue

0.01980878560803262

---
Acknowledgements:

https://libguides.library.kent.edu/SPSS/IndependentTTest